.command-status-block {
  margin-left: 0.25em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.command-status-block > div {
  font-size: 1.2em;
}

.blue-color {
  color: darkblue;
}

.green-color {
  color: darkgreen;
}

.red-color {
  color: red;
}

.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
