<p>МОНИТОРЫ</p>
<div>
  <div class="example-flex-container">
    <button matFab extended>
      <mat-icon>favorite</mat-icon>
      Basic
    </button>
    <button matFab extended disabled>
      <mat-icon>favorite</mat-icon>
      Disabled
    </button>
    <a matFab extended routerLink=".">
      <mat-icon>favorite</mat-icon>
      Link
    </a>
  </div>
</div>

<!-- Основная матрица -->
<div
  class="matrix-grid"
  [style.grid-template-columns]="'repeat(' + layout.columns + ', 100px)'"
  [style.grid-template-rows]="'repeat(' + layout.rows + ', 100px)'"
>
  @for (row of layout.grid; track $index) {
    @for (cell of row; track $index) {
      <div
        class="matrix-cell no-select"
        [class.has-monitor]="cell"
        [class.empty]="!cell"
        (click)="selectMonitor(cell)"
        [class.selected-cell]="selectedMonitor() == cell"
      >
        @if (cell) {
          <div class="cell-info">
            <small>{{ cell.id }}</small>
          </div>
        }
      </div>
    }
  }
</div>
