<div class="display-panel">
  @if (serverItems.isLoading()) {
    <div class="progress-panel">
      <div>Подключение ...</div>
    </div>
  } @else if (serverItems.error()) {
    <div class="error-panel">
      <div>Ошибка подключения</div>
    </div>
  } @else {
    <div class="panel">
      <!-- Основная матрица -->
      @if (layout(); as layout) {
        <div class="monitors">
          @for (monitor of monitors(); track monitor.Index) {
            <div
              class="matrix-cell has-monitor no-select"
              (click)="toggleSelection(monitor)"
              [class.selected-cell]="selectedMonitor() === monitor"
            >
              <!-- Буква P для основного монитора -->
              @if (monitor.IsPrimary) {
                <div class="primary-badge" title="Основной монитор">P</div>
              }
              <div class="cell-info">{{ monitor.Index + 1 }}</div>
              <div class="display-resolution">
                {{ monitor.Bounds.Width }} x {{ monitor.Bounds.Height }}
              </div>
            </div>
          }
        </div>
      }

      <div class="action-button-groups">
        <div>
          <button
            matFab
            extended
            class="control-button"
            (click)="turnMonitorOn()"
          >
            <mat-icon class="scale-125 green-color"
              >power_settings_new</mat-icon
            >
            ВКЛЮЧИТЬ
          </button>
          <button
            matFab
            extended
            class="control-button"
            (click)="turnMonitorOff()"
          >
            <mat-icon class="scale-125 gray-color">do_not_disturb_on</mat-icon>
            ВЫКЛЮЧИТЬ
          </button>
        </div>
        <div>
          <button matFab extended class="control-button" (click)="activate()">
            <mat-icon class="scale-125 green-color"
              >power_settings_new</mat-icon
            >
            <span>ВКЛЮЧИТЬ • </span><span class="orange-color">SYSTEM</span>
          </button>
          <button matFab extended class="control-button" (click)="deactivate()">
            <mat-icon class="scale-125 red-color">tv_off</mat-icon>
            <span>ВЫКЛЮЧИТЬ • </span><span class="orange-color">SYSTEM</span>
          </button>
        </div>
      </div>
      <app-command-status [status]="commandStatus()"></app-command-status>
    </div>
  }
</div>
