[appTabSwipe] {
  cursor: grab;
}

[appTabSwipe]:active {
  cursor: grabbing;
}

.panels {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
}

.main-panel {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.scale-200 {
  transform: scale(1.5);
}

.main-cation {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--primary-color);
}

.server-details {
  padding-left: 0.2em;
  display: flex;
  gap: 0.5em;
  font-size: 1.25em;
}

.small-caption {
  color: gray;
}

.server-name {
  color: var(--secondary-color);
  letter-spacing: 0.2em;
  font-weight: bold;
}

.main-caption2 {
  display: flex;
  gap: 0.25em;
  align-items: center;
  margin-left: -0.5em;
}

.no-connection {
  color: red;
}

.tab-label {
  display: flex;
  gap: 1em;
  align-items: center;
}

.scale-150 {
  transform: scale(1.5);
}

.tab-label-caption {
  letter-spacing: 0.1em;
  font-size: large;
  font-weight: bold;
  margin-left: 0.5em;
}

.selected-tab-icon {
  color: rgb(0, 140, 255);
}

.green-color {
  color: green;
}

.hidden {
  visibility: hidden;
  fill: aqua;
}
