<div class="panels">
  <div class="main-panel">
    <div class="main-caption2">
      <button matIconButton [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editConnection()">
          <mat-icon>edit</mat-icon>
          <span>Параметры подключения</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="removeConnection()">
          <mat-icon>delete_forever</mat-icon>
          <span>Очистить параметры подключения</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="toggleMockMode()">
          <mat-icon [class.hidden]="!configurationService.isMock()">
            done_outline
          </mat-icon>
          <span>ДЕМО РЕЖИМ</span>
        </button>
      </mat-menu>
      <div class="main-cation">ПАНЕЛЬ &nbsp;УПРАВЛЕНИЯ</div>
    </div>
    <div class="server-details">
      @if (isServerSelected()) {
        <div class="small-caption">компьютер:</div>
        <div class="server-name">
          {{ configurationService.targetServer()?.name }}
        </div>
      } @else {
        <div class="no-connection">подключение не задано</div>
      }
    </div>
  </div>

  <mat-tab-group
    #tabGroup
    mat-stretch-tabs="true"
    mat-align-tabs="center"
    [(selectedIndex)]="selectedTabIndex"
    (selectedIndexChange)="onSelectedIndexChanged($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon
            class="scale-200"
            [class.selected-tab-icon]="selectedTabIndex() === 0"
            >keyboard</mat-icon
          >
        </div>
      </ng-template>
      <app-keyboard appTabSwipe (swipe)="onSwipe($event)"></app-keyboard>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon
            class="scale-200"
            [class.selected-tab-icon]="selectedTabIndex() === 1"
            >monitor</mat-icon
          >
        </div>
      </ng-template>
      <app-win-display-panel
        appTabSwipe
        (swipe)="onSwipe($event)"
      ></app-win-display-panel>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon
            class="scale-200"
            [class.selected-tab-icon]="selectedTabIndex() === 2"
            >settings</mat-icon
          >
        </div>
      </ng-template>
      <app-system-panel
        appTabSwipe
        (swipe)="onSwipe($event)"
      ></app-system-panel>
    </mat-tab>
  </mat-tab-group>

  <router-outlet />
</div>
