.display-panel {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 1.5em;
}

.panel-caption {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  font-size: larger;
  font-weight: bold;
  margin-left: 0.5em;
}

.scale-200 {
  transform: scale(2);
}

.command-blocks {
  display: flex;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
}

.commands {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.scale-150 {
  transform: scale(1.5);
}
