/* You can add global styles to this file, and also import other style files */

html,
body {
  /* height: 100%; */
  background-color: rgb(245, 245, 245);
  padding-top: 0.25em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Запрет выделения текста во всей ячейке */
.no-select {
  cursor: pointer;
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для старых IE */
  -webkit-touch-callout: none; /* Отключает вызов меню на iOS */
}

/* Запрет выделения в дочерних элементах */
.no-select * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.scale-125 {
  transform: scale(1.25);
}

.scale-150 {
  transform: scale(1.5);
}

.scale-200 {
  transform: scale(2);
}

.display-panel {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  align-items: center;
}

:root {
  --primary-color: rgb(0, 140, 255);
  --secondary-color: rgb(0, 69, 143);
}
